<div class="home">
    <div class="hero-bar">
        <h1 class="name">
            <span class=pndpo>P</span>eter <span class=pndpo>N</span>athaniel <span class=pndpo>D</span>e<span class=pndpo>P</span>aul<span class=pndpo>o</span>
        </h1>
        <%= react_component 'ShowHide', {items: ["one", "two", "three"]} %>
    </div>
</div>