<div class="home">
    <div class="hero-bar">
        <h1 class="name">
            <span class=pndpo>P</span>eter <span class=pndpo>N</span>athaniel <span class=pndpo>D</span>e<span class=pndpo>P</span>aul<span class=pndpo>o</span>
        </h1>
        <%= react_component 'ShowHide', {items: [{"name":"twitter", "link":"https://twitter.com/pdepaulo"}, {"name":"linkedin", "link":"https://www.linkedin.com/in/peterdepaulo"}, {"name":"github", "link":"https://github.com/pndpo"}]} %>
    </div>
</div>