// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Quicksand', Roboto, sans-serif;
	margin: 0 0 0 0;
}

h1, h2 {
	font-weight: 100;
}

ul {
	padding-left: 0;
}

// Conventience styles
.italic {
	font-style: italic;
	font-weight: lighter;
}

.fa.medium-font {
	font-size: 1.5em;
}

// TODO: Componentize the styles into other places
.home {
	width:100vw;
	height: 100vh;

	// display: -webkit-flex;
	// display: flex;

	// -webkit-align-items: center;
	// align-items: center;
	// -webkit-justify-content: center;
	// justify-content: center;

	// background: url(asset-path('sunset2.jpg')) no-repeat center;
	// background-size: cover;
	
	.sunset {
		position: absolute;
		z-index: -12;

		width:100vw;
		height: 100vh;
		display: -webkit-flex;
		display: flex;

		flex-direction: column;

		.sun {
			z-index: 2;
			position: absolute;
			width: 200px;
			height: 200px;
			border-radius: 100px;
			background-color: #de8674;
			align-self: center;
			top: 40%;
		}

		.sky {
			z-index: 1;
			width: 100%;
			height: 50%;
			background-color: #f2eec7;
		}
		.ocean {
			z-index: 3;
			width: 100%;
			height: 50%;
			background-color: rgb(120,209,181);
		}
	}

	.hero-bar {
		padding: 50px 0;

		//background-color: #fff;
		width: 100vw;
		height: 87vh;

		display: -webkit-flex;
		display: flex;

		-webkit-flex-direction: column;
		flex-direction: column;

		-webkit-align-items: center;
		align-items: center;

		-webkit-justify-content: space-around;
		justify-content: space-between;

		.name {
			margin-top: 80px;
			width: 50%;
			text-align: center;
			color: rgb(120,209,181);;
		}
		.pndpo {
			font-family: inherit;
			font-weight: inherit;
			// color: #777;
			color: rgb(120,209,181);
			&:hover {
				color: white;
			}
		}
		.quote {
			margin-top: 20px; 
			color: white;
		}
	}

}

.menu {
	margin: 30px 0;
	height: 19px;
	width: 400px;
	.list {
		list-style: none;
		display: flex;
		justify-content: space-between;
		width: 100%;	
		.item {
			cursor: pointer;
			.label {
				margin-top: 10px;
			}
			.container {
				display: -webkit-flex;
				display: flex;

				-webkit-flex-direction: column;
				flex-direction: column;

				-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;
				
				&.link {
					text-decoration: none;
					color: white;
				}

				&:not(.close):hover {
					color: #de8674;
					margin-top: -10px;
				}
				&.close:hover {
					color:red;
				}
				
				// Animation stuff
				-webkit-transition: color 0.4s ease-in-out;
				-moz-transition: color 0.4s ease-in-out;
				-o-transition: color 0.4s ease-in-out;
				transition: color 0.4s ease-in-out;

				transition: margin-top 0.3s ease-in-out;


			}
		}
	}
}

.button {
	width: 120px;
	padding: 10px;
	margin-top: 40px;
	font-size: 14px;
	border-radius: 4px;
	border: 1.5px solid white;
	background: none;
	color: white;//#000;
	outline: 0;

	-webkit-transition: background-color 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
	&:hover {
		color: black;
	}
}

@media only screen and (max-width: 40em) { 
	.menu {
		width: 388px;
	}
	.button {
		width: 100vw;
		padding: 20px;
		font-size: 20px;
	}
	.menu {
		height: 48px;
	}
} /* max-width 640px, mobile-only styles */

// Medium screens
@media only screen and (min-width: 40.063em) { 
	.menu {
		width: 400px;
	}
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) { 
	.menu {
		width: 500px;
	}
} /* min-width 1025px, large screens */
